/* fcf5ad */
* {
    box-sizing: border-box;
}

body{
    /* background: #FFD7DF; */
    background: linear-gradient(#DFCF59 0px, #fcf5ad 15px, white 150px) no-repeat;
}

.carousel div{
    background-size: cover;
    background-position: center;
}

.carousel div:nth-child(1){
    background-image: url("../images/carousel/01.jpg");
}

.carousel div:nth-child(2){
    background-image: url("../images/carousel/02.jpg");
}

.carousel div:nth-child(3){
    background-image: url("../images/carousel/03.jpg");
}

.carousel div:nth-child(4){
    background-image: url("../images/carousel/04.jpg");
}

.carousel div:nth-child(5){
    background-image: url("../images/carousel/05.jpg");
}

.carousel div:nth-child(6){
    background-image: url("../images/carousel/06.jpg");
}

.slogan h1{
    font-family: "Cookie";
    font-size: 5em;
    position: relative;
    color: #352E06;
    margin: 20px 0px;
}

.slogan h1::after{
    content: '';
    position: absolute;
    top: 0.9em;
    left: 30%;
    width: 40%;
    border-bottom: 3px solid #B8A749;
    z-index: -1;
}

.carousel h2{
    color: white;
    text-shadow: 4px 4px 6px black;
    font-size: 4em;
    position: absolute;
    top: 70%;
    left: 10px;
}

footer{
    background: #DDD;
    color: #675B52;
}

footer .row{
    padding: 40px 0px;
}

footer .policy{
    background: #000;
    color: white;
    text-align: center;
}

footer h3{
    font-size: 1.5em;
    border-bottom: 1px dashed #444;
}

footer iframe{
    width: 100%;
    height: 200px;
}