/* fcf5ad */
* {
    box-sizing: border-box;
}

body{
    /* background: #FFD7DF; */
    background: linear-gradient(#DFCF59 0px, #fcf5ad 15px, white 150px) no-repeat;
}

.carousel div{
    background-size: cover;
    background-position: center;
}

.carousel div:nth-child(1){
    background-image: url("../images/carousel/01.jpg");
}

.carousel div:nth-child(2){
    background-image: url("../images/carousel/02.jpg");
}

.carousel div:nth-child(3){
    background-image: url("../images/carousel/03.jpg");
}

.carousel div:nth-child(4){
    background-image: url("../images/carousel/04.jpg");
}

.carousel div:nth-child(5){
    background-image: url("../images/carousel/05.jpg");
}

.carousel div:nth-child(6){
    background-image: url("../images/carousel/06.jpg");
}

footer{
    background: black;
    color: white;
    text-align: center;
}

.slogan h1{
    font-family: "Cookie";
    font-size: 5em;
    position: relative;
    color: #352E06;
}

.slogan h1::after{
    content: '';
    position: absolute;
    bottom: 0.2em;
    left: 30%;
    width: 40%;
    border-bottom: 3px solid #B8A749;
    z-index: -1;
}